.card {
  background-color: #fff;
  padding: 10px;
  width: 300px;
  margin: 20px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 5px;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

header {
  height: 50px;
  background-color: #ffffff;
}

main {
  padding: 50px;
  height: 100vh;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 50px;
  background-color: #ffffff;
}
